<!-- Footer -->
<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Alquimia Lavandería</h3>
            <p>Pedro del Portal 1238, San Salvador de Jujuy, Jujuy, Argentina</p>
            <p>Teléfono: <a href="tel:+5493883527777">+54 9 388 352-7777</a></p>
        </div>
        <div class="footer-section">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="#about">Sobre Nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#hero">Contáctanos</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-links" id="social-links">
                <a href="https://www.instagram.com/alquimialavanderia" target="_blank" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://wa.me/5493883527777" target="_blank" aria-label="WhatsApp">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="mailto:alquimialavanderia2025@gmail.com" aria-label="Email">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Alquimia Lavandería. Todos los derechos reservados.</p>
        <p>Pagina Web Desarrollada Por 
            <a id="github">
                Octavio Velo
            </a>
            <a href="mailto:octavio.velo2024@gmail.com" id="github">
                <i class="bi bi-envelope-fill"></i>
            </a>
            <span id="github"> | </span>
            <a href="https://github.com/Voyager-Ov" id="github">
                <i class="bi bi-github"></i>
            </a>
            
        </p>
    </div>
</footer>