body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Altura completa de la ventana */
    background-image: url(../assets/images/pc.svg);
    background-size: cover; /* Asegura que ocupe todo el fondo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se mueva */
    width: 100%;
    font-size: 120%;
    padding-top: 12px;
}


/* Media Queries  tablet */
@media (max-width: 961px) {
    body {
        background-image: url(../../assets/images/tablet.svg);
    }
}


/* Media Queries  mobile */
@media (max-width: 683px) {
    body {
        background-image: url(../../assets/images/mobile.svg);
    }
}
